/* ---------- Banner ----------*/
.banner {
  float: none;
  background: url("http://jeremyabrahams.github.io/mw-project-1/img/hero.jpg") #E66244 no-repeat;
  background-size: cover;
  padding: 0px;
  clear: both;
}
.banner-title {
  text-align: center;
  font-size: 92px;
  color: white;
  margin: 0px;
  padding-top: 255px;
  padding-bottom: 0px;
  font-weight: 100;
}
.banner-text {
  text-align: center;
  padding-bottom: 236px;
  color: white;
  font-size: 18px;
  font-weight: $thin;

  &:after {
    content: "</>";
    display: block;
  }
}
