/* ---------- Goals ----------*/
.goals {
  margin: 69px 25px 100px;
}
.goals-title {
  text-align: center;
  color: $dark-grey;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: $medium;
  padding-bottom: 69px;
}
.goals-list {
  overflow: hidden;
  @include clearfix;
  li {
    width: calc(100% - 40px);
    float: left;
    margin-right: 40px;
    margin-bottom: 100px;
    font-weight: $normal;
    color: $dark-grey;
    font-size: 16px;
    line-height: 18px;
    h2 {
      font-weight: $bold;
      text-transform: uppercase;
      font-size: 16px;
      padding-bottom: 20px;
    }
    @include smartphone {
      width: calc(100% - 40px);
    }
    @include tablet {
      width: calc(50% - 40px);
    }
    @include desktop {
      width: calc(33% - 40px);
    }
    &:nth-child(3n+1) {
      @include desktop {
        clear: left;
      }
    }
    &:nth-child(odd) {
      @include tablet {
        clear: left;
      }
    }
  }
}
