/* ---------- Header ----------*/
.header {
  /*position: fixed;*/
  position: absolute;
  top: 0px;
  width: calc(100% - 68px);
  padding: 18px 34px;

  h1 {
    margin: 0px;
  }
}
.header-title {
  float: left;
  height: 102px;
  width: 158px;
  display: block;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('http://jeremyabrahams.github.io/mw-project-1/img/factory-logo.png');
  background-repeat: no-repeat;
}
.header-nav {
  float: right;
  padding-top: 17px;
}
.header-nav-list {
  list-style-type: none;

  li {
    float: left;
    padding-left: 20px;

    a {
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      color: white;
    }
  }
}
