/* ---------- Instructor ----------*/
.instructor {
  clear: both;
  position: relative;
}
.instructor-bkrd {
  width: 100%;
}
.instructor-text {
  padding-top: 208px;
  padding-bottom: 200px;
  padding-left: 64px;
  width: 50%;
  max-width: 550px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);

  .instructor-text-title {
    font-size: 18px;
    font-weight: $thin;
    text-transform: uppercase;
  }
  .instructor-text-subtitle {
    font-size: 36px;
    font-weight: $normal;
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  .instructor-text-location {
    padding-bottom: 27px;
    font-size: 22px;
  }

  @include smartphone {
    width: calc(100% - 64px);
    position: relative;
    padding: 35px 32px;
    background: #777777;
    transform: none;
    top: -4px;
  }
}
