/* ---------- Overview ----------*/
.overview {
  position: relative;
  min-height: 500px;

  @include smartphone {
    min-height: 600px;
  }
}

.overview-list {
  float: left;
  font-size: 36px;
  font-weight: 300;
  padding-top: 0px 64px 0px 0px;;
  width: 50%;
  max-width: 550px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);

  @include smartphone {
    padding-top: 0px 10px;
    width: 100%;
    max-width: 550px;
    position: relative;
    top: 0;
    transform: none;
  }

  .overview-space {
    padding-bottom: 35px;
  }

  dt {
    float:left;
    &:after {
      content: ":";
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.overview-title {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.overview-hide {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.signup {
  position: absolute;
  top: 50%;
  left: 60%;

  @include smartphone {
    position: relative;
    left: 0px;
    padding-top: 100px;
    float: left;}

  a {
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 30px 100px;
    color: white;
    font-weight: bold;
  }


}
