/* ---------- Quote ---------- */
.quote {
  background-color:white;
  padding: 0px;
  margin: 0px;

  >blockquote > p {
    color: $orange;
    font-size: 48px;
    line-height: 64px;
    font-weight: 300;
    font-style: italic;
    max-width: 880px;
    margin: auto;
    text-align: center;

    &:before, &:after  {
      content: "''";
      display: inline-block;
    }
  }
}
