/* Global */
body {
  margin: 0px;
}
* {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  padding:0px;
  margin:0px;
  border: solid blue thin;
}

li {
  list-style-type: none;
  padding: 0px;
}

@import header;
@import banner;
@import goals;
@import students;
@import instructor;
@import overview;
@import footer;



/* Sass */
$orange: #E66244;
$light-grey: #fafafa;
$medium-grey: #C3BFBF;
$dark-grey: #777777;
$darker-grey: #444444;

@mixin clearfix   {
  &:before, &:after {
  content: "";
  display: table;
  }
  &:after {
  clear: both;
  }
}
