/* Global CSS */
body {
  margin: 0px;
}
* {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  padding:0px;
  margin:0px;
}
li {
  list-style-type: none;
  padding: 0px;
}


/* Sass Variables */
$orange: #E66244;
$light-grey: #fafafa;
$medium-grey: #C3BFBF;
$dark-grey: #777777;
$darker-grey: #444444;


/* Sass Mixins */
@mixin clearfix   {
  &:before, &:after {
  content: "";
  display: table;
  }
  &:after {
  clear: both;
  }
}


/* Sass Imports */
@import 'header';
@import 'banner';
@import 'intro';
@import 'goals';
@import 'students';
@import 'instructor';
@import 'quote';
@import 'overview';
@import 'footer';
