body {
  margin: 0px;
}
* {
  font-family: 'Roboto', arial, helvetica, sans-serif;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
li {
  list-style-type: none;
  padding: 0px;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: auto auto;
  display: block;
}
.header {
  /*position: fixed;*/
  position: absolute;
  top: 0px;
  width: calc(100% - 68px);
  padding: 18px 34px;
  background-color: #cb553a;
}
.header-title {
  float: left;
  background-image: url('http://jeremyabrahams.github.io/mw-project-1/img/factory-logo.png');
  background-repeat: no-repeat;
  height: 102px;
  width: 158px;
  display: block;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}
.header>h1 {
  margin: 0px;
}
.header-nav {
  float: right;
  padding-top: 17px;
}
.header-nav-list {
  list-style-type: none;
}
.header-nav-list li a {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.header-nav-list li {
  float: left;
  padding-left: 20px;
}
.banner {
  background-color: #cb553a;
  clear: both;
  padding: 0px;
  float: none;
}
.banner-title {
  text-align: center;
  font-size: 92px;
  color: #eee;
  margin: 0px;
  padding-top: 200px;
  padding-bottom: 0px;
  font-weight: 100;
}
.banner-text {
  text-align: center;
  padding-bottom: 100px;
  color: white;
  font-size: 18px;
  font-weight: 100;
}
.banner-text::after {
  content: "</>";
  display: block;
}
.intro-text {
  text-align: center;
  color: #C3BFBF;
  font-size: 32px;
  padding-top: 100px;
  font-weight: 100;
  padding-bottom: 100px;
  font-weight: 100;
}
.intro-text:after {
  content: "";
  display: block;
  width: 556px;
  height: 30px;
  background: url('http://jeremyabrahams.github.io/mw-project-1/img/divider.png') no-repeat;
  margin: auto;
  margin-top: 40px;
}
.goals-title {
  text-align: center;
  color: #777777;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
}
.goals-list {
  overflow: hidden;
}
.goals-list li {
  width: calc(100% - 40px);
  float: left;
  margin-right: 40px;
  font-weight: 400;
  color: #777777;
  font-size: 16px;
  line: 18px;
}
.goals-list li:nth-child(3n+1) {
  clear: left;
}
.goals-list li h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}
.students {
  clear: both;
  background-color: #fafafa;
}
.students-title {
  text-align: center;
  padding-top: 100px;
}
.students-list {
  overflow: auto;
  padding: 0px;
}
.students-list>li {
  width:98%;
  float: left;
  display: block;
  padding: 1.0%;
}

@media only screen and (min-width: 480px) {
  .students-list>li {width:48%;}
  .goals-list li {width: calc(50% - 40px);}
}

@media only screen and (min-width: 767px) {
  .students-list>li {width:23%;}
  .goals-list li {width: calc(33% - 40px);}
}


.students-list>li img {
  border-radius: 50%;
  width: 100%;
}
.students-list>li:nth-child(4n+1) {
  clear: left;
}
.students-list li h2 {
  text-align: center;
  font-weight: 100;
}
.student-social {
  text-align: center;
  padding: 0px;
}
.student-social li {
  margin: 10px;
  display: inline-block;
}
.facebook, .twitter {
  background-image: url('http://jeremyabrahams.github.io/mw-project-1/img/slice.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}
.twitter {
  background-postition: 0px;
}
.facebook {
  background-position: -40px;
}
.instructor {
  clear: both;
  position: relative;
}
.instructor-bkrd {
  position: absolute;
  z-index: -10;
  width: 100%;
}
.quote {}
.overview-title {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.overview-hide {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.footer-title {
  background-image: url('http://jeremyabrahams.github.io/mw-project-1/img/factory-logo.png');
  background-repeat: no-repeat;
  height: 102px;
  width: 158px;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0px;
}
.orange {
  background-color: #cb553a;
}
