/* Global CSS */
body {
  margin: 0px; }

* {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  padding: 0px;
  margin: 0px; }

li {
  list-style-type: none;
  padding: 0px; }

/* Sass Variables */
/* Sass Mixins */
/* Sass Imports */
/* ---------- Header ----------*/
.header {
  /*position: fixed;*/
  position: absolute;
  top: 0px;
  width: calc(100% - 68px);
  padding: 18px 34px; }
  .header h1 {
    margin: 0px; }
    @media (max-width: 639px) {
      .header h1 {
        margin: auto;
        width: 158px; } }

.header-title {
  float: left;
  height: 102px;
  width: 158px;
  display: block;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("http://jeremyabrahams.github.io/mw-project-1/img/factory-logo.png");
  background-repeat: no-repeat; }

.header-nav {
  float: right;
  padding-top: 17px; }

.header-nav-list {
  list-style-type: none; }
  .header-nav-list li {
    float: left;
    padding-left: 20px; }
    .header-nav-list li a {
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      color: white; }

/* ---------- Banner ----------*/
.banner {
  float: none;
  background: url("http://jeremyabrahams.github.io/mw-project-1/img/hero.jpg") #E66244 no-repeat;
  background-size: cover;
  padding: 0px;
  clear: both; }

.banner-title {
  text-align: center;
  font-size: 92px;
  color: white;
  margin: 0px;
  padding-top: 255px;
  padding-bottom: 0px;
  font-weight: 100; }

.banner-text {
  text-align: center;
  padding-bottom: 236px;
  color: white;
  font-size: 18px;
  font-weight: 100; }
  .banner-text:after {
    content: "</>";
    display: block; }

/* ---------- Intro ----------*/
.intro-text {
  text-align: center;
  color: #C3BFBF;
  font-size: 32px;
  padding-top: 100px;
  font-weight: 100;
  padding-bottom: 100px;
  font-weight: 100;
  max-width: 800px;
  margin: auto; }
  .intro-text:after {
    content: "";
    display: block;
    max-width: 556px;
    width: 100%;
    height: 30px;
    background: url("http://jeremyabrahams.github.io/mw-project-1/img/divider.png") no-repeat;
    margin: auto;
    margin-top: 40px; }

/* ---------- Goals ----------*/
.goals {
  margin: 69px 25px 100px; }

.goals-title {
  text-align: center;
  color: #777777;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 69px; }

.goals-list {
  overflow: hidden; }
  .goals-list:before, .goals-list:after {
    content: "";
    display: table; }
  .goals-list:after {
    clear: both; }
  .goals-list li {
    width: calc(100% - 40px);
    float: left;
    margin-right: 40px;
    margin-bottom: 100px;
    font-weight: 400;
    color: #777777;
    font-size: 16px;
    line-height: 18px; }
    .goals-list li h2 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      padding-bottom: 20px; }
    @media (max-width: 639px) {
      .goals-list li {
        width: calc(100% - 40px); } }
    @media (min-width: 640px) and (max-width: 1023px) {
      .goals-list li {
        width: calc(50% - 40px); } }
    @media (min-width: 1024px) {
      .goals-list li {
        width: calc(33% - 40px); } }
    @media (min-width: 1024px) {
      .goals-list li:nth-child(3n+1) {
        clear: left; } }
    @media (min-width: 640px) and (max-width: 1023px) {
      .goals-list li:nth-child(odd) {
        clear: left; } }

/* ---------- Students ----------*/
.students {
  clear: both;
  background-color: #fafafa; }

.students-title {
  text-align: center;
  padding-top: 100px; }

.students-list {
  overflow: auto;
  padding: 20px 0px 130px 0px; }
  .students-list > li {
    width: 98%;
    float: left;
    display: block;
    padding: 70px 1.0% 0px 1.0%; }
    @media (max-width: 639px) {
      .students-list > li {
        width: 48%; }
        .students-list > li:nth-child(2n+1) {
          clear: left; } }
    @media (max-width: 479px) {
      .students-list > li {
        width: 98%; } }
    @media (min-width: 640px) and (max-width: 1023px) {
      .students-list > li {
        width: 31%; }
        .students-list > li:nth-child(3n+1) {
          clear: left; } }
    @media (min-width: 1024px) {
      .students-list > li {
        width: 23%; }
        .students-list > li:nth-child(4n+1) {
          clear: left; } }
    .students-list > li img {
      border-radius: 50%;
      width: 100%; }
    .students-list > li h2 {
      text-align: center;
      font-weight: 100; }

.student-social {
  text-align: center;
  padding: 0px; }
  .student-social li {
    margin: 10px;
    display: inline-block; }

.facebook, .twitter, .linkedin {
  background-image: url("http://jeremyabrahams.github.io/mw-project-1/img/slice.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden; }

.twitter {
  background-postition: 0px; }

.facebook {
  background-position: -40px; }

.linkedin {
  background-position: -104px; }

/* ---------- Instructor ----------*/
.instructor {
  clear: both;
  position: relative; }

.instructor-bkrd {
  width: 100%; }

.instructor-text {
  padding-top: 208px;
  padding-bottom: 200px;
  padding-left: 64px;
  width: 50%;
  max-width: 550px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%); }
  .instructor-text .instructor-text-title {
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase; }
  .instructor-text .instructor-text-subtitle {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 15px; }
  .instructor-text .instructor-text-location {
    padding-bottom: 27px;
    font-size: 22px; }
  @media (max-width: 639px) {
    .instructor-text {
      width: calc(100% - 64px);
      position: relative;
      padding: 35px 32px;
      background: #777777;
      transform: none;
      top: -4px; } }

/* ---------- Quote ---------- */
.quote {
  background-color: white;
  padding: 0px;
  margin: 0px; }
  .quote > blockquote {
    margin: 170px 10px 74px 10px; }
    .quote > blockquote > p {
      color: #E66244;
      font-size: 48px;
      line-height: 64px;
      font-weight: 300;
      font-style: italic;
      max-width: 880px;
      margin: auto;
      text-align: center; }
      .quote > blockquote > p:before, .quote > blockquote > p:after {
        content: "''";
        display: inline-block; }
  .quote figcaption {
    text-align: center;
    font-size: 22px;
    color: #AAAAAA;
    font-weight: 500;
    padding-bottom: 110px; }
    .quote figcaption span {
      display: block;
      font-size: 16px; }
    .quote figcaption a {
      color: #AAAAAA;
      font-size: 16px; }

/* ---------- Overview ----------*/
.overview {
  position: relative;
  min-height: 500px; }
  @media (max-width: 639px) {
    .overview {
      min-height: 600px; } }

.overview-list {
  float: left;
  font-size: 36px;
  font-weight: 300;
  padding-top: 0px 64px 0px 0px;
  width: 50%;
  max-width: 550px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%); }
  @media (max-width: 639px) {
    .overview-list {
      padding-top: 0px 10px;
      width: 100%;
      max-width: 550px;
      position: relative;
      top: 0;
      transform: none; } }
  .overview-list .overview-space {
    padding-bottom: 35px; }
  .overview-list dt {
    float: left; }
    .overview-list dt:after {
      content: ":";
      display: inline-block;
      margin-right: 5px; }

.overview-title {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.overview-hide {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.signup {
  position: absolute;
  top: 50%;
  left: 60%; }
  @media (max-width: 639px) {
    .signup {
      position: relative;
      left: 0px;
      padding-top: 100px;
      float: left; } }
  .signup a {
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 30px 100px;
    color: white;
    font-weight: bold; }

/* ---------- Footer ----------*/
.footer-title a {
  background-image: url("http://jeremyabrahams.github.io/mw-project-1/img/factory-logo.png");
  background-repeat: no-repeat;
  height: 64px;
  width: 100px;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0px;
  float: left;
  background-size: 100px 64px;
  margin: 20px; }

footer {
  display: inline-block;
  width: 100%;
  background-color: rgba(180, 80, 60, 0.75); }
  footer p {
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding-top: 45px;
    margin-left: 50px;
    float: left; }
  footerafter {
    content: '';
    background-color: #111;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0.5; }

.footer-img {
  background: url("http://jeremyabrahams.github.io/mw-project-1/img/footer.jpg") #E66244;
  background-size: cover; }

/* @include smartphone {
  background-color: blue;
}

@include smartphone-small {
  background-color: green;
}

@include tablet {
  background-color: red;
}

@include tablet-landscape {
  background-color: orange;
}

@include tablet-small {
  background-color: purple;
}

@include desktop {
  background-color: yellow;
} */
